* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
  padding: 20px;
}
h1 {
  background-color: rgb(23, 200, 206);
  padding-left: 40px;
  padding-right: 15px;
  color: dimgrey;
}

nav ul {
  display: flex;
  width: 500px;
  justify-content: space-between;
}
li {
  list-style-type: none;
  color: aqua;
}
.hero-banner {
  background-image: url("../images/02-hero-bg.jpg");
  background-size: cover;
  display: flex;
  height: 250px;
  width: 100%;
  justify-content: end;
  align-items: end;
  color: whitesmoke;
}
.hero-banner h2 {
  text-align: right;
  margin-right: 50px;
  margin-bottom: 20px;
  background-color: rgb(23, 200, 206);
  border: 2px;
  color: dimgrey;
}

#about {
  display: flex;
  font-family: "Times New Roman", Times, serif;
}
#about h2 {
  margin-left: 60px;
}
main {
  padding: 75px;
  background-color: rgb(223, 218, 211);
}
.page-section {
  display: flex;
}
h2 {
  text-align-last: right;
  border-right-style: solid;
  border-width: 5px;
  font-family: monospace;
  font-weight: normal;
  color: dimgrey;
  font-size: 3.5em;
  padding-right: 7px;
  margin-left: 5px;
}
#about p {
  margin-left: 20px;
}
#work {
  display: flex;
  background-position: center;
  background-size: cover;
}
#work h2 {
  margin-left: 90px;
}

#flex-Container {
  display: flex;
  height: 800px;
  width: 800px;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
}
#surfReport {
  max-width: 800px;
  height: 50%;
  flex-direction: column;
  background-image: url("../images/02-portfolio-4.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.container-1 {
  display: flex;
  max-width: 800px;
  height: 25%;
  align-content: center;
}

.container-2 {
  display: flex;
  height: 25%;
  max-width: 800px;
}
#ledWall {
  display: flex;
  width: 400px;
  align-items: end;
  background-image: url("../images/02-portfolio-1.jpg");
}
#calculator {
  width: 400px;
  display: flex;
  align-items: end;
  background-image: url("../images/02-portfolio-2.jpg");
}
#pastelPuzzels {
  display: flex;
  width: 400px;
  background-image: url("../images/02-portfolio-3.jpg");
  align-items: end;
}
#runBuddy {
  display: flex;
  width: 400px;
  background-image: url("../images/02-portfolio-4.jpg");
  align-items: end;
}

.flex-item {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: flex;
  background-color: cadetblue;
  align-content: end;
  border-width: 10px;
  border-color: cadetblue;
}

.title-tag {
  text-align: center;
  font-family: monospace;
  font-style: bold;
  margin-bottom: 20px;
  height: 7vh;
  width: 120px;
  padding-top: 15px;
  color: black;
  background-color: cadetblue;
  align-content: end;
}

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  margin-top: 40px;
  height: 200px;
  background-color: whitesmoke;
}

footer {
  padding: 20px 0px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  width: 170%;
}
#contact h2 {
  align-items: baseline;
  justify-content: right;
  padding-left: 0;
  margin-left: 5px;
}
footer a {
  padding: 10%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
